@model IEnumerable<DBL.Entities.Vwtenantcustomers>
@using DBL.Helpers;
@{
    ViewData["Title"] = "Customerslist";
    Layout = "~/Views/Shared/_Layoutauth.cshtml";
    EncryptDecrypt sec = new EncryptDecrypt();
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-7">
                        <h5 class="card-text text-sm font-weight-bold">Customer List</h5>
                    </div>
                    <div class="col-sm-5">
                        <a href="@Url.Action("AddnewCustomers","Customers")" class="btn btn-sm btn-info text-white float-right mr-3" data-target="#RegistercustomerModal" data-toggle="modal">Add Customer</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div clas>
                    <table class="table table-bordered table-striped table-responsive-sm table-sm" id="staffstable">
                        <thead>
                            <tr class="font-weight-light">
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Station</th>
                                <th>Type</th>
                                <th>Grouping</th>
                                <th>Status</th>
                                <th>Portal control</th>
                                <th>Details</th>
                                <th>Edit</th>
                                <th>Activate</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-capitalize">@item.Fullname</td>
                                    <td>@item.Emailaddress</td>
                                    <td>@item.Phonenumber</td>
                                    <td>@item.Stationname</td>
                                    <td>
                                        @if (item.Customertype == "Individual")
                                        {
                                            <button class="btn btn-xs btn-success">@item.Customertype</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-xs text-white btn-warning">@item.Customertype</button>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Customergouping == "Prepaid")
                                        {
                                            <button class="btn btn-xs btn-success">@item.Customergouping</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-xs text-white btn-secondary">@item.Customergouping</button>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Customerstatus == "Active")
                                        {
                                            <button class="btn btn-xs btn-success">@item.Customerstatus</button>
                                        }
                                        else if (item.Customerstatus == "Not Deleted")
                                        {
                                            <button class="btn btn-xs btn-success">@item.Customerstatus</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-xs btn-danger">@item.Customerstatus</button>
                                        }
                                    </td>
                                    <td>
                                        @if (@item.Canaccessprtal == "Yes")
                                        {
                                            <button class="btn btn-xs btn-success">@item.Canaccessprtal</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-xs btn-danger">@item.Canaccessprtal</button>
                                        }
                                    </td>
                                    <td><a href="@Url.Action("Customerdetails","Customers",new {customercode= sec.Encrypt(item.Customercode.ToString()) })" class="btn btn-xs btn-info">View</a></td>
                                    <td><a>Edit</a></td>
                                    <td><a>Activate</a></td>
                                    <td><a>Delete</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-5" id="RegistercustomerModal" tabindex="-1" role="dialog" aria-labelledby="mainaccountidentifierModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#RegistercustomerModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var url = button.attr("href");
            var modal = $(this);
            modal.find('.modal-content').load(url);
        });
        $('#RegistercustomerModal').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
            $('#RegistercustomerModal .modal-content').empty();
        });
        
    </script>
}